<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OmniWheeler RC</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <div class="columns is-centered is-vcentered is-mobile">
        <div class="colum is-narrow has-text-centered">
          <h1 class="title">
            Remote Control
          </h1>
          <p class="subtitle">
            OmniWheeler Directional Control
          </p>
          <br>

          <!--North-East, North, North-West Icons--> 
          <div class="columns is-mobile is-centered">
            <div class="column is-1">
              <span class="icon has-text-primary">
                  <i class="fas fa-caret-down fa-10x" data-fa-transform="rotate-135" onclick="setDirectionOfMovement('north-west')"></i>
              </span>
            </div>
            <div class="column is-4"></div>
            <div class="column is-1">
              <span class="icon has-text-primary">
              <i class="fas fa-caret-down fa-10x" data-fa-transform="rotate-180" onclick="setDirectionOfMovement('north')"></i>
              </span>
            </div>
            <div class="column is-4"></div>
            <div class="column is-1">
              <span class="icon has-text-primary">
                  <i class="fas fa-caret-down fa-10x" data-fa-transform="rotate-225" onclick="setDirectionOfMovement('north-east')"></i>
              </span>
            </div>
          </div>

          <!--East, STOP, West Icons--> 
          <div class="columns is-mobile is-centered">
            <div class="column is-1">
              <span class="icon has-text-primary">
                  <i class="fas fa-caret-down fa-10x" data-fa-transform="rotate-90" onclick="setDirectionOfMovement('west')"></i>
              </span>
            </div>
            <div class="column is-4"></div>
            <div class="column is-1">
              <span class="icon has-text-danger">
                  <i class="fas fa-stop fa-6x" onclick="setDirectionOfMovement('full_stop')"></i>
              </span>
            </div>
            <div class="column is-4"></div>
            <div class="column is-1">
              <span class="icon has-text-primary">
                  <i class="fas fa-caret-down fa-10x" data-fa-transform="rotate-270" onclick="setDirectionOfMovement('east')"></i>
              </span>
            </div>
          </div>

          <!--South-East, South, South-West Icons--> 
          <div class="columns is-mobile is-centered">
            <div class="column is-1">
              <span class="icon has-text-primary">
                  <i class="fas fa-caret-down fa-10x" data-fa-transform="rotate-45" onclick="setDirectionOfMovement('south-west')"></i>
              </span>
            </div>
            <div class="column is-4"></div>
            <div class="column is-1">
              <span class="icon has-text-primary">
              <i class="fas fa-caret-down fa-10x" onclick="setDirectionOfMovement('south')"></i>
              </span>
            </div>
            <div class="column is-4"></div>
            <div class="column is-1">
              <span class="icon has-text-primary">
                  <i class="fas fa-caret-down fa-10x" data-fa-transform="rotate-315" onclick="setDirectionOfMovement('south-east')"></i>
              </span>
            </div>
          </div>

           <!--Clockwise, Anticlockwise Icons--> 
           <div class="columns is-mobile is-centered">
            <div class="column"></div>
            <div class="column is-1">
              <span class="icon has-text-primary">
              <i class="fas fa-sync-alt fa-5x" onclick="setDirectionOfMovement('anticlockwise')" data-fa-transform="flip-v"></i>
              </span>
            </div>
            <div class="column is-5"></div>
            <div class="column is-1">
              <span class="icon has-text-primary">
              <i class="fas fa-sync-alt fa-5x" onclick="setDirectionOfMovement('clockwise')"></i>
              </span>
            </div>
            <div class="column"></div>
          </div> 
        </div> <!--Column Narrow ends here-->
      </div> <!--Main Columns ends here-->
      <p id="result">Direction: {{ result }}</p>

    </div> <!--Container ends here-->
  </section>
  <script>
    var ws = new WebSocket("ws://localhost:8000/ws");
    ws.onmessage = function(event) {
      var result = document.getElementById('result')
      var content = document.createTextNode(event.data)
      result.innerHTML = String(event.data)
    };
    function setDirectionOfMovement(direction) {
      ws.send(direction)
      //document.getElementById("result").innerHTML = direction
    };
  </script>
  </body>
</html>


<!--Event data is not being read right, it is concatenating the values in the tuple-->